@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi Tiet Phieu Sua";
    Layout = "_Layout";
}
@using PhieuSuaChua.Controllers;
@model IEnumerable<PhieuSuaChua.Domain_Model.ModelChiTietPhieuSua>;
<section class="section">

    @if (Model != null)
    {
           foreach (var item in Model)
                {
                    <div class="card" style="background-color:ghostwhite">
                    <div class="card-body">
                    <h5 class="card-title">Thông tin chi tiết phiếu sửa</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="row g-3">
                                <div class="col-6">
                                    <b>Mã nhân viên:</b> <label id="Manv"> @item.MaNV</label>
                                </div>
                                <div class="col-6">
                                    <b>Đơn vị: </b><label id="Donvi"> @item.DonVi</label>
                                </div>
                                <div class="col-6">
                                    <b>Họ và Tên:</b> <label id="Hoten">@item.Hoten </label>
                                </div>
                                <div class="col-6">
                                    <b>Số điện thoại:</b> <label id="Sdt">@item.Sdt </label>
                                </div>
                                <div class="col-4">
                                    <b>Tên máy tính:</b> <label id="TenPC"> @item.TenMayTinh</label>
                                </div>
                                <div class="col-4">
                                    <b>Username:</b> <label id="User">@item.UserName </label>
                                </div>
                                <div class="col-4">
                                    <b>Password:</b> <label id="Pass"> @item.Password</label>
                                </div>
                                <div class="col-12">
                                    <b>Thiết bị khác:</b> <label id="Thietbikhac">@item.Thietbikhac </label>
                                </div>
                                <div class="col-12">
                                    <b>Tình trạng thiết bị:</b> <label id="Tinhtrang">@item.TinhTrang </label>
                                </div>
                                <div class="col-12">
                                    <b>Ghi chú:</b> <label id="Ghichu">@item.GhiChu </label>
                                </div>
                                <div class="col-12">
                                    <b>Trạng thái phiếu:</b> <label id="Trangthaiphieu">@item.Trangthaiphieu </label>
                                </div>
                                <div class="col-12">
                                    <b>Loại sửa chữa:</b> <label id="Loaisuachua">@item.LoaiSuaChua </label>
                                </div>

                            </form>
                            <p></p>
                            <div class="col-lg-12">
                                <button type="reset" class="btn btn-success">In phiếu</button>
                            </div>

                        </div>
                    </div>
                    </div>
                    </div>
                    <hr />

            <div class="card" style="background-color:ghostwhite">
                <div class="card-body">
                    <h5 class="card-title">Xác nhận của P.CNTT</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="row g-2">
                                <div class="col-1">
                                    <b class="form-label">Ghi chú:</b>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" id="ghichu" placeholder="Ví dụ: cần nâng cấp...">
                                </div>
                                <div class="col-3">
                                    <button type="reset" class="btn btn-success">Cập nhật ghi chú</button>
                                </div>
                            </form>
                        </div>
                        <p></p>
                        <div class="col-lg-12">
                            <form class="row g-2">
                                <div class="col-1">
                                    <b class="form-label">Loại sửa chữa:</b>
                                </div>
                                <div class="col-5">
                                    <select id="cbolistprint" class="form-select" name="Type">
                                        <option selected="selected" value="1">==============</option>
                                        <option value="2">Chưa xác định</option>
                                        <option value="3">Vệ sinh máy tính, cài đặt windows, chương trình</option>
                                        <option value="4">Thay thế linh kiện máy tính có hàng sẵn</option>
                                        <option value="5">Lắp ráp máy tính mới</option>
                                        <option value="6">Sửa chữa máy in lỗi nhẹ</option>
                                        <option value="7">Sửa chữa máy tính lỗi nặng</option>
                                        <option value="8">Sửa chữa máy in lỗi nặng</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <button type="submit" class="btn btn-success">Cập nhật loại sửa chữa</button>
                                </div>
                            </form>
                        </div>
                        <p></p>
                        <div class="col-lg-12">
                            <a class="btn btn-info" id="xacnhanphieu" onclick="XacnhanPhieu('@item.Id','@item.Trangthaiphieu')"></a>
                            <button type="submit" class="btn btn-primary">Xác nhận chờ mua hàng </button>
                            <button type="button" class="btn btn-danger">Hủy phiếu</button>
                            <a class="btn btn-secondary" asp-controller="TraCuuPhieu" asp-action="Index">Back...</a>
                        </div>


                    </div>
                </div>
            </div>
                }     
    }
  

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        var btxacnhan = $('#Trangthaiphieu').text().trim();
        switch (btxacnhan) {
           
            case "Đang sửa":
                $('#xacnhanphieu').html('Xác nhận sửa xong');
             
                break;
            case "Đã sửa xong":
                $('#xacnhanphieu').html('Xác nhận trả máy');
               
                break;
            case "Đã trả máy":
                $('#xacnhanphieu').html('');
              
                break;
            default:
                $('#xacnhanphieu').html('Tiếp nhận phiếu');
              
                break;
        }
    });
</script>
<script>
 
    
        function XacnhanPhieu(id, trangthai){
        
        switch (trangthai.trim()) {
            case "Chờ tiếp nhận":               
                UpdateTrangThai(id,'Đang sửa');
                window.location.reload();               
                break;

            case "Đang sửa":              
                UpdateTrangThai(id, 'Đã sửa xong');
                window.location.reload();               
                break;
            case "Đã sửa xong":              
                UpdateTrangThai(id, 'Đã trả máy');
                window.location.reload();                      
                 break;
            
            }};  
        function UpdateTrangThai(id, trangthai)
        {
            $.ajax({
                    url: '/TraCuuPhieu/XacNhanPhieu',
                    type:'POST',
                    data:{id,trangthai},
                    success: function(response){
                    window.location.reload();
                    }
            });
        }
</script>
