@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi Tiet Phieu Sua";
    Layout = "_Layout";
}
@using PhieuSuaChua.Controllers;
@model IEnumerable<PhieuSuaChua.Domain_Model.ModelChiTietPhieuSua>;
<section class="section">

    @if (Model != null)
    {
           foreach (var item in Model)
                {
                    <div class="card" style="background-color:ghostwhite">
                    <div class="card-body">
                    <h5 class="card-title">Thông tin chi tiết phiếu sửa</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="row g-3">
                                <div class="col-6">
                                    <b>Mã nhân viên:</b> <span id="Manv"> @item.MA_NV</span>
                                </div>
                                <div class="col-6">
                                    <b>Đơn vị: </b><span id="Donvi"> @item.DON_VI</span>
                                </div>
                                <div class="col-6">
                                    <b>Họ và Tên:</b> <span id="Hoten">@item.TEN_NV </span>
                                </div>
                                <div class="col-6">
                                    <b>Số điện thoại:</b> <span id="Sdt">@item.SDT </span>
                                </div>
                                <div class="col-4">
                                    <b>Tên máy tính:</b> <span id="TenPC"> @item.TEN_PC</span>
                                </div>
                                <div class="col-4">
                                    <b>Username:</b> <span id="User">@item.ACCOUNT_NAMES </span>
                                </div>
                                <div class="col-4">
                                    <b>Password:</b> <span id="Pass"> @item.ACCOUNT_PASS</span>
                                </div>
                                <div class="col-12">
                                    <b>Thiết bị khác:</b> <span id="Thietbikhac">@item.THIET_BI_KHAC </span>
                                </div>
                                <div class="col-12">
                                    <b>Tình trạng thiết bị:</b> <span id="Tinhtrang">@item.TINH_TRANG </span>
                                </div>
                                <div class="col-12">
                                    <b>Ghi chú:</b> <span id="Ghichu">@item.GHI_CHU </span>
                                </div>
                                <div class="col-4">
                                    <b>Trạng thái phiếu:</b> <span id="Trangthaiphieu">@item.TRANG_THAI_PHIEU </span>
                                </div>
                                <div class="col-4">
                                    <b>Ngày nhận:</b> <span id="Ngaynhan">@item.NGAY_TAO </span>
                                </div>
                                <div class="col-4">
                                    <b>Ngày trả:</b> <span id="Ngaytra">@item.NGAY_TRA </span>
                                </div>
                                <div class="col-12">
                                    <b>Loại sửa chữa:</b> <span id="Loaisuachua">@item.LOAI_SUA_CHUA </span>
                                </div>

                            </form>
                            <p></p>
                            <div class="col-lg-12">
                                <button type="reset" class="btn btn-success">In phiếu</button>
                            </div>

                        </div>
                    </div>
                    </div>
                    </div>
                    <hr />

            <div class="card" style="background-color:ghostwhite">
                <div class="card-body">
                    <h5 class="card-title">Xác nhận của P.CNTT</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="row g-2">
                                <div class="col-1">
                                    <b class="form-span">Ghi chú:</b>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" id="txtghichu" placeholder="Ví dụ: cần nâng cấp...">
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success" onclick="UpdateGhiChu('@item.ID_PHIEU')" id="updateghichu">Cập nhật ghi chú</button>
                                </div>
                            </form>
                        </div>
                        <p></p>
                        <div class="col-lg-12">
                            <form class="row g-2">
                                <div class="col-1">
                                    <b class="form-span">Loại sửa chữa:</b>
                                </div>
                                <div class="col-5">
                                    <select id="cbolistprint" class="form-select" name="Type">
                                        <option selected="selected" value="1">==============</option>
                                        <option value="2">Chưa xác định</option>
                                        <option value="3">Vệ sinh máy tính, cài đặt windows, chương trình</option>
                                        <option value="4">Thay thế linh kiện máy tính có hàng sẵn</option>
                                        <option value="5">Lắp ráp máy tính mới</option>
                                        <option value="6">Sửa chữa máy in lỗi nhẹ</option>
                                        <option value="7">Sửa chữa máy tính lỗi nặng</option>
                                        <option value="8">Sửa chữa máy in lỗi nặng</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success" id="updateloaisuachua" onclick="LoaiSuaChua('@item.ID_PHIEU')">Cập nhật loại sửa chữa</button>
                                </div>
                            </form>
                        </div>
                        <p></p>
                        <div class="col-lg-12">
                            <a class="btn btn-info" id="xacnhanphieu" onclick="XacnhanPhieu('@item.ID_PHIEU')"></a>
                            <a class="btn btn-primary" id="xacnhanmuahang" onclick="XacnhanMuaHang('@item.ID_PHIEU')">Xác nhận chờ mua hàng </a>
                            <a class="btn btn-danger" id="huyphieu" onclick="xacnhanhuy('@item.ID_PHIEU')">Hủy phiếu</a>
                            <a class="btn btn-secondary" asp-controller="TraCuuPhieu" asp-action="Index">Back...</a>
                        </div>


                    </div>
                </div>
            </div>
                }     
    }
  

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        var btxacnhan = $('#Trangthaiphieu').text().trim();
        switch (btxacnhan) {
           
            case "Đang sửa":
                $('#xacnhanphieu').html('Xác nhận sửa xong');
                break;

            case "Đã sửa xong":
                $('#xacnhanphieu').html('Xác nhận trả máy');
                break;

            case "Đã trả máy":
                $('#xacnhanphieu').html('');
                $('#xacnhanmuahang').html('');
                $('#huyphieu').html('');
                break;

            case "Phiếu đã hủy":
                $('#xacnhanphieu').html('');
                $('#xacnhanmuahang').html('');
                $('#huyphieu').html('');
                break;

            default:
                $('#xacnhanphieu').html('Tiếp nhận phiếu');
                break;
        }
    });
</script>
<script>
    
        function XacnhanPhieu(id){
        var trangthai = $('#Trangthaiphieu').text().trim();
        switch (trangthai) {
            case "Chờ tiếp nhận":               
                UpdateTrangThai(id,'Đang sửa');
                break;

            case "Đang sửa":              
                UpdateTrangThai(id, 'Đã sửa xong');
                break;
            case "Đã sửa xong":              
                UpdateTrangThai(id, 'Đã trả máy');
                 break;
            }
        };

    function XacnhanMuaHang(id){
        UpdateTrangThai(id, 'Chờ mua hàng');
    }

    function xacnhanhuy(id) {
        UpdateTrangThai(id, 'Phiếu đã hủy');
    }

    function UpdateTrangThai(id, trangthai){
            $.ajax({
                    url: '/TraCuuPhieu/XacNhanPhieu',
                    type:'POST',
                    dataType: 'json',
                    data:{id,trangthai},
                    success: function (response) {
                        if(response.model >0){
                        window.location.reload();
                        }
                  
                    }
            });
    }
    function UpdateGhiChu(id){
        var ghichu = $('#txtghichu').val();
        $.ajax({
            url: '/TraCuuPhieu/UpdateGhiChu',
            type: 'POST',
            dataType:'json',
            data: {id,ghichu},
            success: function (response) {
                if (response.model > 0) {
                    window.location.reload();
            }}
        });
        $('#txtghichu').val('');
       
    }
    function LoaiSuaChua(id){
        var idloai = parseInt($('#cbolistprint').val());
        var loaisuachua = $('#cbolistprint option:selected').text();
        switch (idloai) {
            case 1:
                UpdateLoaiSuaChua(id, loaisuachua);
                
                break;
            case 2:
                UpdateLoaiSuaChua(id, loaisuachua);
               
                break;
            case 3:
                UpdateLoaiSuaChua(id, loaisuachua);
                
                break;
            case 4:
                UpdateLoaiSuaChua(id, loaisuachua);
               
                break;
            case 5:
                UpdateLoaiSuaChua(id, loaisuachua);
                
                break;
            case 6:
                UpdateLoaiSuaChua(id, loaisuachua);
               
                break;
            case 7:
                UpdateLoaiSuaChua(id, loaisuachua);
               
                break;
            case 8:
                UpdateLoaiSuaChua(id, loaisuachua);
               
                break;
        }
        window.location.reload();
    }
    function UpdateLoaiSuaChua(id, loaisuachua) {
        $.ajax({
            url: '/TraCuuPhieu/UpdateLoaiSuaChua',
            type: 'POST',
            dataType: 'json',
            data: { id, loaisuachua },
            success: function (response) {
                if (response.model > 0) {
                    window.location.reload();
            }}
        });
    }
</script>
