@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi Tiet Phieu Muc";
    Layout = "_Layout";
}
@using PhieuSuaChua.Controllers;
@model IEnumerable<PhieuSuaChua.Domain_Model.ModelChiTietPhieuMuc>;
<section class="section">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="card" style="background-color:ghostwhite">
                <div class="card-body">
                    <h5 class="card-title">Thông tin chi tiết mực in</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="row g-2">
                                <div class="col-4">
                                    <b>Mã nhân viên người gửi:</b> <label id="Manv_gui"> @item.MA_NV_GUI</label>
                                </div>
                                <div class="col-4">
                                    <b>Họ và tên người gửi:</b> <label id="Hoten">@item.TEN_NV_GUI </label>
                                </div>
                                <div class="col-4">
                                    <b>Đơn vị: </b><label id="Donvi"> @item.DON_VI</label>
                                </div>
                                <div class="col-4">
                                    <b>Mã nhân viên người nhận:</b> <label id="Manv_gui"> @item.MA_NV_NHAN</label>
                                </div>
                                <div class="col-4">
                                    <b>Họ và tên người nhận:</b> <label id="Hoten">@item.TEN_NV_NHAN </label>
                                </div>
                                <div class="col-12">
                                    <b>Tên hộp mực:</b> <label id="TenPC"> @item.TEN_HOP_MUC</label>
                                </div>
                                <div class="col-12">
                                    <b>Tình trạng:</b> <label id="User">@item.TINH_TRANG </label>
                                </div>
                                <div class="col-4">
                                    <b>Ngày gửi:</b> <label id="Pass"> @item.NGAY_GUI</label>
                                </div>
                                <div class="col-4">
                                    <b>Ngày sửa xong:</b> <label id="Thietbikhac">@item.NGAY_SUA_XONG </label>
                                </div>
                                <div class="col-4">
                                    <b>Ngày trả:</b> <label id="Tinhtrang">@item.NGAY_TRA </label>
                                </div>
                                <div class="col-12">
                                    <b>Ghi chú:</b>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="txtGhichu" value="@item.GHI_CHU">
                                </div>
                                <div class="col-12">
                                    <b>Trạng thái hộp mực:</b> <label id="Trangthaiphieu">@item.TRANG_THAI_PHIEU </label>
                                </div>

                            </form>
                            <p></p>
                            <div class="col-lg-12">
                                <a class="btn btn-primary" onclick="UpdateGhiChu('@item.ID_MUC')">Cập nhật ghi chú</a>
                                <a class="btn btn-success" onclick="XacNhanSuaXong('@item.ID_MUC')">Xác nhận sửa xong</a>
                                <a class="btn btn-danger" onclick="XacNhanHopMucHu('@item.ID_MUC')">Xác nhận hộp mực hư</a>
                                <a class="btn btn-secondary" onclick="XacNhanHuyPhieu('@item.ID_MUC')">Hủy phiếu</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div class="card" style="background-color:ghostwhite">
                <div class="card-body">
                    <h5 class="card-title">Thông tin người lấy hộp mực</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="row g-2">
                                <div class="col-3">
                                    <b class="form-label">Mã nhân viên:</b>
                                    <input type="text" class="form-control" id="txt_manv_nhan" placeholder="BH1905000" onblur="CheckNV()">
                                </div>
                               
                                <div class="col-3">
                                    <b class="form-label">Họ tên:</b>
                                    <input type="text" class="form-control" id="txt_hoten_nhan" disabled>
                                </div>
                                <div class="col-3">
                                    <b class="form-label">Đơn vị:</b>
                                    <input type="text" class="form-control" id="txt_donvi" disabled>
                                </div>
                                <div class="col-3">
                                    <b class="form-label">Chức vụ:</b>
                                    <input type="text" class="form-control" id="txt_chucvu" disabled>
                                </div>
                                                                
                            </form>
                        </div>
                        <p></p>
                    
                        <p></p>
                        <div class="col-lg-12">

                            <a class="btn btn-success" id="xacnhan_tramuc" onclick="XacNhanTraHopMuc('@item.ID_MUC')">Xác nhận trả hộp mực </a>
                            
                            <a class="btn btn-secondary" asp-controller="TraCuuPhieu" asp-action="Index">Back...</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    }


</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function UpdateTrangThaiMuc(id, trangthai){
        $.ajax({
        url: '/TraCuuPhieu/UpdateTrangThaiMuc',
        type:'POST',
        dataType:'json',
        data: {id, trangthai},
        success: function(response){
            if(response.model >0){
                    window.location.reload();
                    Swal.fire(
                        'Thông báo ',
                        'Xác nhận thành công');
            }
        }
        });
    }

    function XacNhanSuaXong(id){
        var trangthai ="Sửa xong";
        UpdateTrangThaiMuc(id, trangthai);
        UpdateGhiChu(id);
    }

    function XacNhanHuyPhieu(id){
        var trangthai = "Phiếu đã hủy";
        UpdateTrangThaiMuc(id, trangthai);
    }

    function XacNhanHopMucHu(id) {
        var trangthai = "Hộp mực hư";
        UpdateTrangThaiMuc(id, trangthai);
    }

    function UpdateGhiChu(id){
        var ghichu = $('#txtGhichu').val().trim();
        $.ajax({
            url: '/TraCuuPhieu/UpdateGhiChuMuc',
            type: 'POST',
            dataType: 'json',
            data: { id, ghichu },
            success: function (response) {
                if (response.model > 0) {
                    window.location.reload();
                    Swal.fire(
                        'Thông báo ',
                        'Xác nhận thành công');
                }
            }
        });
    }
    function CheckNV(successCallback, errorCallback) {

        var manv = $("#txt_manv_nhan").val().trim();
        $.ajax({

            url: '/DangKySuaChua/KiemtraMaNV',
            type: 'POST',
            /* datatype: Text,*/
            data: { manv },
            success: function (response) {
                if (response.mesage == "OK") {
                    var item = response.model;
                    $("#txt_hoten_nhan").val(item.tenNv);
                    $("#txt_donvi").val(item.donVi);
                    $("#txt_chucvu").val(item.chucDanh);
                    successCallback(item.maNv);
                }
                else {
                    Swal.fire(
                        'Mã nhân viên chưa chính xác',
                        'Xin nhập lại');
                    errorCallback();
                    ResetForm();

                }
            }
        });
    }
    function ResetForm(){
        $('#txt_manv_nhan').val('');
    }

    function XacNhanTraHopMuc(id){
        var manv = $('#txt_manv_nhan').val();
        var trangthai ="Đã trả";
        CheckNV(function(manv){
            $.ajax({
                url: '/TraCuuPhieu/XacNhanTraHopMuc',
                type:'POST',
                dataType: 'json',
                data: { id, trangthai , manv},
                success: function(response){
                    if (response.model > 0) {
                        window.location.reload();
                        Swal.fire(
                            'Thông báo ',
                            'Xác nhận thành công');
                    }
                }

            });
        });
    }
  
</script>
