@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi Tiet Phieu Sua";
    Layout = "_Layout";
}
@using PhieuSuaChua.Controllers;
@model IEnumerable<PhieuSuaChua.Domain_Model.ModelChiTietPhieuSua>;
<section class="section">
    <div class="card" style="background-color:ghostwhite">
<div class="card-body">
    <h5 class="card-title">Thông tin chi tiết phiếu sửa</h5>
    @if (Model != null)
    {
           foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="row g-3">
                                <div class="col-6">
                                    <b>Mã nhân viên:</b> <label id="Manv"> @item.MaNV</label>
                                </div>
                                <div class="col-6">
                                    <b>Đơn vị: </b><label id="Donvi"> @item.DonVi</label>
                                </div>
                                <div class="col-6">
                                    <b>Họ và Tên:</b> <label id="Hoten">@item.Hoten </label>
                                </div>
                                <div class="col-6">
                                    <b>Số điện thoại:</b> <label id="Sdt">@item.Sdt </label>
                                </div>
                                <div class="col-4">
                                    <b>Tên máy tính:</b> <label id="TenPC"> @item.TenMayTinh</label>
                                </div>
                                <div class="col-4">
                                    <b>Username:</b> <label id="User">@item.UserName </label>
                                </div>
                                <div class="col-4">
                                    <b>Password:</b> <label id="Pass"> @item.Password</label>
                                </div>
                                <div class="col-12">
                                    <b>Thiết bị khác:</b> <label id="Thietbikhac">@item.Thietbikhac </label>
                                </div>
                                <div class="col-12">
                                    <b>Tình trạng thiết bị:</b> <label id="Tinhtrang">@item.TinhTrang </label>
                                </div>
                                <div class="col-12">
                                    <b>Ghi chú:</b> <label id="Ghichu">@item.GhiChu </label>
                                </div>
                                <div class="col-12">
                                    <b>Trạng thái phiếu:</b> <label id="Trangthaiphieu">@item.Trangthaiphieu </label>
                                </div>
                                <div class="col-12">
                                    <b>Loại sửa chữa:</b> <label id="Loaisuachua">@item.Trangthaiphieu </label>
                                </div>

                            </form>
                            <p></p>
                            <div class="col-lg-12">
                                <button type="reset" class="btn btn-success">In phiếu</button>
                            </div>

                        </div>
                    </div>
                }     
    }
  
</div>
    </div>
<hr />
    <div class="card" style="background-color:ghostwhite">
<div class="card-body">
    <h5 class="card-title">Xác nhận của P.CNTT</h5>
    <div class="row">
                <div class="col-lg-12">
                     <form class="row g-2">
                        <div class="col-1">
                            <label for="inputAddress" class="form-label">Ghi chú:</label>
                        </div>
                        <div class="col-5">                           
                            <input type="text" class="form-control" id="ghichu" placeholder="Ví dụ: cần nâng cấp...">
                        </div>
                        <div class="col-3">
                            <button type="reset" class="btn btn-success">Cập nhật ghi chú</button>
                        </div>
                     </form>
                </div>
                <p></p>
                <div class="col-lg-12">
                    <form class="row g-2">
                        <div class="col-1">
                            <label for="inputAddress" class="form-label">Loại sửa chữa:</label>
                        </div>
                        <div class="col-5">
                            <select id="cbolistprint" class="form-select" name="Type">
                                <option selected="selected" value="1">==============</option>
                                <option value="2">Chưa xác định</option>
                                <option value="3">Vệ sinh máy tính, cài đặt windows, chương trình</option>
                                <option value="4">Thay thế linh kiện máy tính có hàng sẵn</option>
                                <option value="5">Lắp ráp máy tính mới</option>
                                <option value="6">Sửa chữa máy in lỗi nhẹ</option>
                                <option value="7">Sửa chữa máy tính lỗi nặng</option>
                                <option value="8">Sửa chữa máy in lỗi nặng</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button type="reset" class="btn btn-success">Cập nhật loại sửa chữa</button>
                        </div>
                    </form>
                </div>
                <p></p>
                <div class="col-lg-12">
                    <button type="reset" class="btn btn-primary">Xác nhận chờ mua hàng </button>
                    <button type="reset" class="btn btn-danger">Hủy phiếu</button>
                  </div>
              
                
    </div>
</div>
</div>
</section>
