
@{
    ViewData["Title"] = "Tra Cuu Phieu";
    //Layout = "_Layout";
}
@using PhieuSuaChua.Controllers;
@model IEnumerable<PhieuSuaChua.Domain_Model.ModelTraCuuPhieu>

<style>
    thead input {
        width: 100%;
    }
</style>
@*<div class="card-body">*@
<div >

    <!-- Table with stripped rows -->

    <div>
       @* <table class="table-striped datatable table display" id="TraCuuPhieu">*@
        <table class="table" style="width:100%" id="TraCuuPhieu">
      @*  <table id="example" class="display" style="width:100%">*@
            <thead>
                <tr>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Số phiếu</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Ngày tạo phiếu</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Họ & Tên</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Đơn vị</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Máy tính</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Thiết bị khác</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Trạng thái phiếu</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Chức năng</a>
                    </th>
                </tr>
               
              
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Ngaytaophieu</td>
                            <td>@item.Hoten</td>
                            <td>@item.Donvi</td>
                            <td>@item.Maytinh</td>
                            <td>@item.Thietbikhac</td>
                            <td><span class="badge bg-danger" id="trangthai_@i">@item.Trangthaiphieu</span></td>
                            @*<td><button class="btn btn-sm btn-success" href="/TraCuuPhieu/chitietphieusua">Xem phiếu</button></td>*@
                            <td><a  class="btn btn-sm btn-success" href="/TraCuuPhieu/chitietphieusua/@item.Id">Xem phiếu</a></td>
                        </tr>
                        i= i+1;
                    }
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts {
    @*<script src="~/modelscript/modelscript.js"></script>*@
   @*<script>
        $(document).ready(function () {
            $('[id^=trangthai_]').each(function () {
                var spanText = $(this).text();
                if (spanText.trim() === "Sửa xong") {
                    $(this).removeClass('badge bg-danger').addClass('badge bg-success');
                }
            });
        });
   </script>*@
  
   <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#TraCuuPhieu thead tr').clone(true).addClass('filters').appendTo('#TraCuuPhieu thead');
            var table = $('#TraCuuPhieu').DataTable({
                orderCellsTop: true,
                "order": [[0, 'desc']],
                responsive: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();
                    // For each column
                    api.columns().eq(0).each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                        var title = $(cell).text();
                        $(cell).html('<input type="text" style="text-align:left;" placeholder="'+ title +'" />');
                        //$(cell).html('<input style="text-align:left;" ></input>');
                        // On every keypress in this input
                        $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search((this.value != "") ? regexr.replace('{search}', '(((' + this.value + ')))') : "", this.value != "", this.value == "")
                                    .draw();
                                $(this).focus()[0].setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
                }
            });
        });
   </script>
  
   
}


<!-- End Table with stripped rows -->
