
@{
    ViewData["Title"] = "Tra Cuu Phieu";
    //Layout = "_Layout";
}
@using PhieuSuaChua.Controllers;
@model IEnumerable<PhieuSuaChua.Domain_Model.ModelTraCuuPhieu>

<div class="card-body">

    <!-- Table with stripped rows -->

    <div>
        <table class="table-striped datatable table">
            <thead>
                <tr>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter ">Số phiếu</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Ngày tạo phiếu</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Họ & Tên</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Đơn vị</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Máy tính</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Thiết bị khác</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Trạng thái phiếu</a>
                    </th>
                    <th data-sortable="true">
                        <a href="#" class="datatable-sorter">Chức năng</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="#" >@item.Id</a></td>
                            <td>@item.Ngaytaophieu</td>
                            <td>@item.Hoten</td>
                            <td>@item.Donvi</td>
                            <td>@item.Maytinh</td>
                            <td>@item.Thietbikhac</td>
                            <td><span id="trangthai_@i">@item.Trangthaiphieu</span></td>
                            <td><button class="btn btn-sm btn-success">In phiếu</button></td>
                        </tr>
                        i= i+1;
                    }
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts {
    <script src="~/modelscript/modelscript.js"></script>
   
}


<!-- End Table with stripped rows -->
